.app-footer{
    // color: $clr4;
    padding: 20px;
    // margin: 10px;
    // text-align: center;
    border: 1px solid black;
  

    p {
        font-size: 1.5em;
        // background-color: $clr5;
        padding: 5px;
    }
} 

